body{
    background-color:rgb(101, 175, 236);
}

h1{
    font-family: "Allan";
}

.box{
    background-image: linear-gradient(rgb(5, 168, 86), rgb(75, 209, 131));
}

.name{
    font-weight: bold;
    font-size: 20px;
}


.city, .address {
    font-style: italic;
}